.header {
    text-align: center;
    height: 75px;
}

.headshot {
    margin-left: auto;
    margin-right: auto;
}

.company {
    font-size: 18px;
    display: inline-block;
    float: left;
    width: 100%;
    font-weight: bold;
}

.position-metadata {
    font-size: 12px;
    padding-top: 10px;
}

.section-title {
    margin-bottom: 0;
}

.job-heading {
    min-height: 25px;
    max-height: 35px;
}

* {
    font-family: "Open Sans"
}